.application {
  background-color: @basis-extra-grey;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: @basis-blue;

  @media (min-width: @tablet-width) {
    order: -2;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 1;
  }
}

.application__text {
  font-size: 14px;
  line-height: 18px;
  color: @basis-red;
  text-align: center;
  text-transform: uppercase;
}

.application__list {
  list-style: none;
}
