.editor {
  background-color: @basis-extra-grey;
  padding: 20px 20px 20px 41px;
}

.editor__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: @basis-red;
  background-color: @basis-extra-grey;
  border: 3px solid @basis-red;
  border-radius: 30px;
}

.editor__button--disabled {
  color: @basis-blue;
  border-color: @basis-blue;
  opacity: 0.1;
}

.editor__list {
  list-style: none;
}
