.gallery__intro {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @basis-blue;
}

.gallery__item {
  background-color: @basis-extra-grey;
  font-size: 14px;
  line-height: 24px;
  color: @basis-blue;
}

.gallery__user {
  font-weight: bold;
  text-align: center;
}

.gallery__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.gallery__counter {
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  text-transform: uppercase;
  color: @basis-red;
}
