.social__link {
  margin: none;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid @basis-extra-grey;
}

.social__icon {
  fill: @basis-red;
}

